
div.post {
    background-color: #353535 !important;
    background: #353535 !important;
    color: #EAEAEA !important;
    background-image: transparent !important;
    border-color: #292929 ! important;
}

div.post::before {
    background-color: #353535 !important;
    background: #353535 !important;
    color: #EAEAEA !important;
    background-image: transparent !important;
    border-color: #292929 ! important;
}

