ytd-masthead, ytd-searchbox, ytd-two-column-browse-results-renderer, ytd-post-renderer, yt-formatted-string, ytd-watch-flexy {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

div[id="logo-icon-container"] {
    filter: invert(100%);
}

div[id="container"] {
    box-shadow: none !important;
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
    border: 1px solid;
}

yt-icon, span[id="title"] {
    color: #FAFAFA !important;
}

app-drawer[role="navigation"], ytd-guide-entry-renderer > * {
    background-color: #555555 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

.title.ytd-guide-entry-renderer {
    color: #EAEAEA !important;
}
