beautifulsoup4
PyGObject
pycairo
PyFxA
requests
requests-hawk >= 1.1.0
pycrypto
cryptography
setuptools
wheel
six
mohawk
hawkauthlib
cffi
pycparser
PyYAML
PyBrowserID
pyparsing
packaging
WebOb
idna
Naked
shellescape
python-dateutil
setuptools_scm
chardet
certifi
soupsieve
pyopenssl
