.progressbar {
    border: none;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.progressbar progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
    min-height: 2px;
}

.progressbar trough {
    border: none;
    background-color: transparent;
    background-image: none;
}

.progressbar-button {
    border: none;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.progressbar-button progress {
    background-color: @theme_fg_color;
    background-image: none;
    border: none;
    border-radius: 1px;
    min-height: 2px;
}

.progressbar-button trough {
    border: 1px solid alpha(@theme_fg_color, 0.5);
    border-radius: 1px;
    min-height: 2px;
}

.dark {
    border-color: rgb(51, 57, 59);
    background-color: rgb(51, 57, 59);
    box-shadow: 1px 1px 5px 5px alpha(black, 0.4);
    color: white;
}

.big-padding {
    padding: 10px;
}

.padding {
    padding: 5px;
}

.no-padding {
    padding: 0px;
    min-width: 0px;
    min-height: 0px;
}

.small-padding {
    padding: 2px;
    min-width: 0px;
    min-height: 0px;
}


.border {
    border: 1px solid alpha(@theme_fg_color, 0.5);
    border-radius: 2px;
}

.text-small {
    font-size: small;
}

.text-x-small {
    font-size: x-small;
}

.bold {
    font-weight: bold;
}

.sidebar-item-title {
    padding: 0px;
    box-shadow: 1px 1px 3px 3px alpha(shade(@theme_bg_color, 1.3), 0.9);
    background-color: alpha(shade(@theme_bg_color, 1.3), 0.9);
    color: @theme_fg_color;
    text-shadow: 1px 1px shade(@theme_bg_color, 1.3);
}

.sidebar-item-image {
    background-color: shade(@theme_bg_color, 1.3);
}

.sidebar-item {
    border: 2px solid alpha(@theme_fg_color, 0.3);
    padding: 0px;
    margin: 1px;
    background-color: shade(@theme_bg_color, 1.3);
    border-radius: 2px;
    outline-width: 0px;
    opacity: 0.9;
}

.sidebar-item:hover {
    box-shadow: 0px 0px 2px 2px alpha(@theme_selected_bg_color, 0.5);
    opacity: 1;
}

.sidebar-item:visited {
    border: 2px solid @theme_selected_bg_color;
    opacity: 1;
}

.site-manager-child {
   background-color: shade(@theme_bg_color, 1.3);
}

.invalid-entry {
    color: @theme_fg_color;
    background-color: alpha(red, 0.1);
    background-image: none;
}

.image-border {
    background-color: alpha(@theme_bg_color, 0.5);
    border-radius: 4px;
}

.kbd-input {
    background-color: alpha(@theme_selected_bg_color, 0.1);
    background-image: none;
}

.uribar {
    background-color: transparent;
    background-image: none;
    border-radius: 2px;
}

.uribar:focus {
    background-color: alpha(@theme_selected_bg_color, 0.1);
    background-image: none;
}

.no-border {
    border: none;
}

.button-edit {
    border: 2px solid white;
    background-color: red;
    color: white;
    padding: 0px;
    border-radius: 16px;
}

.download-popover {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    color: white;
    background-color: black;
    opacity: 0.7;
}

.download-failed {
    opacity: 0.7;
    background-color: alpha(red, 0.5);
}

.tag {
    border-radius: 0px;
    min-height: 0px;
    min-width: 0px;
}

.selected {
    color: @theme_selected_bg_color;
    transition: color 500ms linear;
}

.pinned {
    color: shade(@theme_selected_bg_color, 1.5);
}

.download-button {
    padding: 2px;
    min-width: 28px;
}

.downloadrow {
    padding: 0px;
    background-color: transparent;
    color: inherit;
}

.downloadrow:hover {
    border-radius: 5px;
    background-color: alpha(@theme_fg_color, 0.05);
    color: inherit;
}

.transparent {
    background-color: transparent;
}

.rounded-button {
    border-radius: 20px;
}

.drag {
    color: red;
}

.menu-listbox {
    background-image: none;
    background-color: transparent;
}

.row {
    /* https://bugzilla.gnome.org/show_bug.cgi?id=763517 */
    transition: none;
    padding: 0px;
}

.box-shadow {
    box-shadow: 1px 1px 5px 5px alpha(black, 0.3);
}

.box-dark-shadow {
    box-shadow: 1px 1px 5px 5px alpha(black, 0.5);
}

.toolbar-mark {
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

.no-border-button {
    opacity: 0.8;
	box-shadow: none;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
}

.no-border-button:hover {
  	opacity: 1;
}

.overlay-button {
    opacity: 0.8;
	box-shadow: none;
	min-height: 28px;
    min-width: 30px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
}

.overlay-button:disabled {
    opacity: 0.5;
}

.overlay-button:hover {
    border-color: alpha(@theme_fg_color, 0.1);
  	opacity: 1;
}

.row .overlay-button {
	border-color: transparent;
	background-color: transparent;
	color: transparent;
}

.row:hover .overlay-button {
  	color: inherit;
	opacity: 0.4;
}

.row:hover .overlay-button:hover {
	border-color: alpha(@theme_fg_color, 0.1);
	opacity: 1;
}

.overlay-button-alt {
    box-shadow: none;
    min-height: 28px;
    min-width: 30px;
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    border-style: solid;
    border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}

.row:hover .overlay-button-alt {
       border-color: alpha(@theme_fg_color, 0.1);
}



.red {
    color: red;
}

.red:hover {
    border-color: alpha(red, 0.1);
}

.drag-up {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (white),
                                     color-stop (0.9, white),
                                     to (red));
}

.drag-down {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (red),
                                     color-stop (0.1, white),
                                     to (white));
}

.urilabel {
    background-color: @theme_bg_color;
    padding-left: 2px;
    padding-right: 2px;
}

.bottom-left {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 2px;
}

.bottom-right {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 2px;
}

.top-left {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 2px;
}

@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

.image-rotate {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
