.progressbar {
    border: none;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.progressbar progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
    min-height: 2px;
}

.progressbar trough {
    border: none;
    background-color: transparent;
    background-image: none;
}

.progressbar-button {
    border: none;
    background-color: transparent;
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.progressbar-button progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
    border-radius: 1px;
    min-height: 2px;
}

.progressbar-button trough {
    border: 1px solid alpha(@theme_fg_color, 0.5);
    border-radius: 1px;
    min-height: 2px;
}

.dark {
    border-color: rgb(51, 57, 59);
    background-color: rgb(51, 57, 59);
    box-shadow: 1px 1px 5px 5px alpha(black, 0.4);
    color: white;
}

.border {
    border: 1px solid alpha(@theme_fg_color, 0.5);
    border-radius: 2px;
}

.font-monospace {
    font-family: Monospace;
}

.font-small {
    font-size: 80%;
}

.bold {
    font-weight: bold;
}

.sidebar-item-title {
    padding: 0px;
    box-shadow: 1px 1px 3px 3px alpha(shade(@theme_bg_color, 1.7), 0.85);
    background-color: alpha(shade(@theme_bg_color, 1.7), 0.85);
    color: @theme_fg_color;
    text-shadow: 1px 1px shade(@theme_bg_color, 1.7);
}

.sidebar-item-image {
    background-color: shade(@theme_bg_color, 1.7);
}

.sidebar-item {
    border: 1px solid alpha(@theme_fg_color, 0.5);
    background-color: shade(@theme_bg_color, 1.7);
    margin: 2px;
    padding: 3px;
    border-radius: 2px;
    outline-width: 0px;
}

.item-selected {
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
}

.invalid-entry {
    color: @theme_fg_color;
    background-color: alpha(red, 0.1);
    background-image: none;
}

.image-border {
    background-color: alpha(@theme_bg_color, 0.5);
    border-radius: 4px;
}

.kbd-input {
    background-color: alpha(@theme_selected_bg_color, 0.1);
    background-image: none;
}

.uribar {
    background-color: transparent;
    background-image: none;
}

.uribar:focus {
    background-color: alpha(@theme_selected_bg_color, 0.1);
    background-image: none;
}

.no-border {
    border: none;
}

.button-edit {
    border: 2px solid white;
    background-color: red;
    color: white;
    padding: 0px;
    border-radius: 16px;
}

.download-popover {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    color: white;
    background-color: black;
    opacity: 0.7;
}

.download-failed {
    opacity: 0.7;
    background-color: alpha(red, 0.5);
}

.tag-base {
    box-shadow: none;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    background-color: white;
    border: 1px solid shade(@theme_bg_color, 0.8);
    color: black;
    border-radius: 3px;
}

.tag-add {
    border-radius: 0px;
}

.tag-content {
    box-shadow: none;
	min-height: 0px;
	min-width: 0px;
	background-image: none;
    color: black;
    border: none;
    padding: 2px;
    font-size: 90%;
    background-color: transparent;
}

.tag-button {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 0px;
    border-radius: 16px;
}

.tag-edit {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
}

.selected {
    color: @theme_selected_bg_color;
}

.download-button {
    padding: 2px;
    min-width: 28px;
}

.downloadrow {
    padding: 0px;
    background-color: transparent;
    color: inherit;
}

.downloadrow:hover {
    border-radius: 5px;
    background-color: alpha(@theme_fg_color, 0.05);
    color: inherit;
}

.page-child-row  {
    padding: 4px;
    border-radius: 2px;
	background-color: transparent;
  	color: inherit;
}

.page-child-row:hover {
	background-color: alpha(@theme_fg_color, 0.05);
  	color: inherit;
}

.page-child-row:selected {
    border-color: alpha(@theme_selected_bg_color, 0.8);
    border-bottom-color:alpha(@theme_selected_bg_color, 0.9);
    background-image: linear-gradient(to bottom, alpha(@theme_selected_bg_color, 0.2), alpha(@theme_selected_bg_color, 0.3), alpha(@theme_selected_bg_color, 0.4));
}

.page-child-row:selected *{
    color: @theme_fg_color;
    background-color: transparent;
    background-image: none;
}

.no-padding {
    padding: 0px;
    min-width: 0px;
    min-height: 0px;
}

.small-padding {
    padding: 2px;
    min-width: 0px;
    min-height: 0px;
}

.transparent {
    background-color: transparent;
}

.rounded-button {
    border-radius: 20px;
}

.drag {
    color: red;
}

.menu-listbox {
    background-image: none;
    background-color: transparent;
}

.row {
    /* https://bugzilla.gnome.org/show_bug.cgi?id=763517 */
    transition: none;
    padding: 0px;
}

.box-shadow {
    box-shadow: 1px 1px 5px 5px alpha(black, 0.3);
}

.box-dark-shadow {
    box-shadow: 1px 1px 5px 5px alpha(black, 0.5);
}


.bigrow {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid alpha(@theme_bg_color, 0.5);
}

.toolbar-mark {
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_selected_fg_color;
}

.overlay-button {
	box-shadow: none;
	min-height: 24px;
	min-width: 24px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
    opacity: 0.2;
}

.row .overlay-button {
	border-color: transparent;
	background-color: transparent;
	color: transparent;
}

.row:hover .overlay-button {
  	color: inherit;
	opacity: 0.4;
}

.row:hover .overlay-button:hover {
	border-color: alpha(@theme_fg_color, 0.1);
	min-height: 24px;
	min-width: 24px;
	opacity: 1;
}


.overlay-button2 {
	box-shadow: none;
	min-height: 24px;
	min-width: 24px;
	margin-left: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    background-color: transparent;
    color: inherit;
}

.row:hover .overlay-button2 {
  	border-color: alpha(@theme_fg_color, 0.1);
}


.drag-up {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (white),
                                     color-stop (0.9, white),
                                     to (red));
}

.drag-down {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (red),
                                     color-stop (0.1, white),
                                     to (white));
}

.urilabel {
    background-color: @theme_bg_color;
    padding-left: 2px;
    padding-right: 2px;
}

.bottom-left {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 2px;
}

.bottom-right {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 2px;
}

.top-left {
    border: 1px solid shade(@theme_bg_color, 0.7);
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 2px;
}
