* {
    outline-width: 0px;
    text-shadow: none;
}

.progressbar progress {
    background-color: @theme_selected_bg_color;
    background-image: none;
    border: none;
}

.progressbar trough {
    border: none;
    background-color: transparent;
    background-image: none;
}

.sidebarchild-title {
    background-color: @theme_selected_fg_color;
    opacity: 0.96;
}

.sidebarchild-image {
    background-color: @theme_selected_fg_color;
}

.sidebar-close {
    background-color: transparent;
    color: black;
}

.sidebar-item {
    border: 1px solid shade(@theme_bg_color, 0.7);
    background-color: shade(@theme_bg_color, 1.5);
    margin: 2px;
    border-radius: 2px;
}

.sidebar-item-selected{
    border-color: @theme_selected_bg_color;
    background-color: @theme_selected_bg_color;
}

.uribar {
    padding-right: 25px;
}

.input {
    background-color: alpha(@theme_selected_bg_color, 0.1);
}

.uribar-title {
    background-color: transparent;
    background-image: none;
}

.tag-edit {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
}

.red {
    color: shade(red, 0.8)
}

.bold {
    font-weight: bold;
}

.downloadrow {
    padding: 0px;
    background-color: transparent;
    color: inherit;
}

.downloadrow:hover {
    border-radius: 5px;
    background-color: alpha(@theme_fg_color, 0.05);
    color: inherit;
}

.transparent {
    background-color: transparent;
}

.rounded-button {
    border-radius: 20px;
}

.drag {
    color: red;
}

.row {
    /* https://bugzilla.gnome.org/show_bug.cgi?id=763517 */
    transition: none;
    padding: 0px;
}

.edit-button {
	box-shadow: none;
	min-height: 24px;
	min-width: 24px;
	margin-right: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: none;
	border-style: solid;
	border-image-source: none;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: transparent;
    color: inherit;
    opacity: 0.2;
}

.row .edit-button {
	border-color: transparent;
	background-color: transparent;
	color: transparent;
}

.row:hover .edit-button {
  	color: inherit;
	opacity: 0.4;
}

.row:hover .edit-button:hover {
	border-color: alpha(@theme_fg_color, 0.1);
	min-height: 24px;
	min-width: 24px;
	opacity: 1;
}
