html {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

body {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

section {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

a {
    background-color: transparent !important;
    color: #EAEAEA !important;
    background-image: transparent !important;
}

div {
    background-color: transparent !important;
    color: #EAEAEA !important;
    background-image: transparent !important;
}

header {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

footer {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

nav {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

aside {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

main {
    background-color: transparent !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

article {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}
