html {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

body {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

section {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

a {
    background-color: transparent !important;
    color: #EAEAEA !important;
    background-image: transparent !important;
    border-color: #292929 ! important;
}

div {
    background-color: transparent !important;
    color: #EAEAEA !important;
    background-image: transparent !important;
    border-color: #292929 ! important;
}

header {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

input {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

ul {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

ol {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

form {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

h1 {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

h1 {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

h2 {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

h3 {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

h4 {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

h5 {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

h6 {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

p {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

li {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

li:hover {
    background-color: #636363 !important;
    color: #EAEAEA !important;
    background-image: none !important;
}

footer {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

nav {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

aside {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

main {
    background-color: transparent !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}

article {
    background-color: #353535 !important;
    color: #EAEAEA !important;
    background-image: none !important;
    border-color: #292929 ! important;
}
